#main-nav {
    background:var(--theme);
    text-align:center;
    display:inline-block;
}

#main-nav a {
    text-decoration:none;
    color:var(--background);
}

#main-nav ul {
    padding-left: 0px;
    margin:0;
}
  
#main-nav li {
    list-style-type: none;
    padding: 5px;
    border:var(--text) 1px solid;
}
  
#main-nav li:hover {
    border-bottom:var(--maintext) 1px solid;
}

#nav-items {
    display:flex;
}

#browse-aside {
    border-right:var(--line) 1px solid;
}

#browse-nav h4 {
    border-bottom:var(--line) 1px solid;
}

#browse-nav li {
    list-style-type:none;
}

#browse-nav a {
    text-decoration:none;
    color:var(--maintext);
}

#browse-nav a:hover {
    background:var(--line);
}

button a {
    text-decoration:none;
    color:var(--maintext);
}

button {
    margin-top:10px;
}

@media only screen and (max-width:900px) {
    #browse-nav ul {
        position:relative;
        right:20%;
    }

    #nav-items {
        display:block;
    }
}