form {
    margin: 0 2%;
}
  
form input,
form textarea,
form button,
select {
    font-size:14px;
    width:200px;
    height:20px;
}

.inline {
    display: inline;
}
  
form textarea {
    min-height: 200px;
}