#dialog-section {
  position: relative;
}

#add-dialog {
  background:var(--infobackground);
  border-radius:10px;
  padding:10px;
  color:var(--text);
  width:330px;
}

#add-dialog,
#edit-dialog,
#delete-dialog {
  display: block;
}

#delete-content {
  margin-bottom: 10px;
}

#image-prev {
  max-width: 100%;
}

#delete-dialog button {
  margin-right: 50px;
}

#close-dialog {
  margin-left:320px;
}

label {
  display:block;
}

p {
  margin-left:10px;
}

@media only screen and (min-width: 600px) {
  #img-prev-section {
    flex: 1;
  }

  #img-prev {
    max-width: 100%;
  }

  #img-upload {
    flex: 6;
  }

}