#dialog-section {
  position: relative;
}

#add-dialog,
#edit-dialog,
#delete-dialog {
  display: block;
}

#img-prev {
  max-width: 100%;
}

#delete-dialog button {
  margin-right: 50px;
}

#close-dialog {
  margin-left:170px;
}

@media only screen and (min-width: 600px) {
  #img-prev-section {
    flex: 1;
  }

  #img-prev {
    max-width: 100%;
  }

  #img-upload {
    flex: 6;
  }

  #close-dialog {
    margin-left:300px;
  }

}
