:root {
    --theme:#377F7F;
    --text:white;
    --maintext:black;
    --background:white;
    --line:#BBBBBB;
    --infobackground: rgb(55, 127, 127, 0.74);
    --expire:red;
}

body {
    background:var(--text);
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background:var(--theme);
    color:var(--text);
    display:flex;
    padding-left:10px;
}

#main-text {
    text-decoration:none;
    color:var(--text);
}

#account {
    position:relative;
    left:75%;
}

#account a {
    color:var(--text);
}

#search {
    position:absolute;
    left:85.3%;
    top:7%;
    display:block;
}