header {
    background:var(--theme);
    color:var(--text);
    display:flex;
    padding-left:10px;
}

h2 a {
    text-decoration:none;
    color:var(--text);
}

#account {
    position:relative;
    left:75%;
}

#account a {
    color:var(--text);
}

@media only screen and (max-width:900px) {
    #account {
        position:relative;
        left:35%;
    }
}