:root {
    --theme:#377F7F;
    --text:white;
    --maintext:black;
    --background:white;
    --line:#BBBBBB;
    --infobackground: rgb(55, 127, 127, 0.74);
    --expire:red;
}

body {
    background:var(--text);
    font-family:Arial, Helvetica, sans-serif;
}

.hidden-small-aside {
    display:none;
}

@media only screen and (max-width:900px) {
    .hidden-small-aside {
        display:block;
    }

}