:root {
    --theme:#377F7F;
    --text:white;
    --maintext:black;
    --background:white;
    --line:#BBBBBB;
    --infobackground: rgb(55, 127, 127, 0.74);
    --expire:red;
}

#login a {
    text-decoration:none;
    color:var(--maintext);
}

#login {
    margin-top:10px;
}
