#search-bar {
    position:absolute;
    left:85.3%;
    top:7%;
    display:block;
}

@media only screen and (max-width:900px) {

    #search-bar {
        position:absolute;
        top:8%;
        left:63%;
    }
}